#You can use exactly this values in the .env file for pulling the data
#You will need a PIXABAY_API_KEY to collect new data and use data collecting scripts
#You can't use push scripts without the HF_TOKEN

PIXABAY_API_KEY=""
PIXABAY_BASE_URL="https://pixabay.com/api/"
HF_TOKEN=""
HF_DATASET_REPO_ID="maxf-coder/task_image_classifier"
HF_DATASET_REPO_PRIVATE="False"
HF_MODEL_REPO_ID="maxf-coder/task_image_classifier"
HF_MODEL_REPO_PRIVATE="False"